{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "cover 100%, not android < 5"
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-polyfill-corejs3",
      {
        "method": "usage-global",
        "version": "3.50"
      }
    ]
  ],
  "compact": false
}
